# DJango packages
django>=3.2
django-configurations
django-storages
django-redis
django-cache-memoize
djangorestframework
djangorestframework_simplejwt
djangorestframework-datatables
django-filter
django-cors-headers
django-rest-auth
drf-extensions
django-sslserver

# Required for drf
packaging

# Parser for JSON forms
html-json-forms
jsonschema

# Database connectors
#mysql
mysqlclient
psycopg2

# Celery
celery==5.2.2
django-celery-beat==2.2.0
django-celery-results==2.2.0
gevent==21.1.2
# flower
# django_celery_monitor
rabbitmq-admin

# Storage
boto3

# Utility packages
requests
simplejson==3.17.4

# Vault SDK
hvac[parser]>=0.10.9

# Test requirements
pytest
pytest-cov
pytest-dependency
pytest-django

# Documentation requirements
sphinx
sphinxcontrib-httpdomain
recommonmark
# m2r
pyyaml>=5.4.1
uritemplate
drf_yasg

# Error tracking
sentry-sdk

# Prometheus exporter
django_prometheus
#celery-exporter


# JWT token management
# jwt
